{% extends "base.html" %}

{% block content %}

  <form method="post">
    <div class="center-div">
      <label class="label_color">
        Subject
        <br>
        <input class="input" id="subject_input" type="text" name="subject" value= {{subject}}>
      </label>
    </div>
    <div class="center-div">
      <label class="label_color">
        Content
        <br>
        <textarea class="input content_input" name="content" value="content"></textarea>
      </label>
      <div class="post_div error_color">
        {{error}}
      </div>
    </div>
    <div class="center-div">
      <input type="submit">
    </div>
  </form>
  <form action="/blog">
    <div class="center-div"  >
      <input type="submit" value="cancel">
    </div>
  </form>


{% endblock %}
